= link_to "/shops/#{shop.id}" do
  .shop{ data: { shop_id: shop.id } }
    .shop__upper-info
      = image_tag shop.image.url if shop.image.present?
    .shop__lower-info
      = shop.name
    .shop-data__rate__ave
      平均評価：
      = @review.average(:rate).round if @review.present?
    .shop-del 
      = link_to "削除", "/shops/#{shop.id}", method: :delete if user_signed_in? && current_user.admin?
