.main.flex-box
  .main__left.area-data
    店舗エリア
    .nagoya
      愛知
      .shops.flex-box
        = render(partial: "shop", collection: @aichi, as: "shop")
    .gifu
      岐阜
      .shops.flex-box
        = render(partial: "shop", collection: @gifu, as: "shop")
    .mie
      三重
      .shops.flex-box
        = render(partial: "shop", collection: @mie, as: "shop")
  .side
    クチコミの多いランキング
    - @ranking.each.with_index(1) do |shop, i|
      %li{ data: { shop_id: shop.id } }
        = link_to "/shops/#{shop.id}" do
          .rank-box
            .rank-box__cell
              %p.label
                = i.to_s + "位"
          .rank-box__cell
            %p.no-space
              = shop.name
            = image_tag shop.image.url if shop.image.present?


%footer
  .footer-container
  フッター
