.main
  .main__left
    店舗エリア＞＞店舗情報
    .shop-data
      %ul
        %li
          = @shop.name
        %li
          = @shop.address
        %li
          = @shop.tel
    .shop-data__review
      レビュー一覧
      = render @review.where(shop_id: @shop.id)
    .shop-data__rate__ave
      平均評価点
      = @review.where(shop_id: @shop.id).average(:rate).round if @review.where(shop_id: @shop.id).present?
    .shop-data__map
      = link_to "https://www.google.co.jp/maps/place/#{@shop.address}" do
        地図
    .shop-data__add
      = link_to "レビューを書く", "/shops/#{@shop.id}/reviews/new"
%footer
  .footer-container
    フッター
