.main.flex-box
  .main__left
    店舗エリア＞＞店舗情報
    .shop-data
      %ul
        %li
          = @shop.name
        %li
          = @shop.address
        %li
          = @shop.tel
    .shop-data__map
      = link_to "https://www.google.co.jp/maps/place/#{@shop.address}" do
        地図
    -# .side
    -#   ランキング
%footer
  .footer-container
    フッター
