.form-box
  = form_with model: [@shop, @review], local:true do |form|
    .form-box__point
      = form.label :評価
      = form.number_field :rate, placeholder: '評価', value: 1, max: 10, min: 1
    .form-box__review
      = form.text_field :review, placeholder: "おすすめポイント"
    = form.submit "SEND"